@import "tailwindcss";

@layer base {
  body {
    @apply font-semibold antialiased;
  }
  p, span, a, button, li {
    @apply font-semibold;
    letter-spacing: 0.01em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "voicey";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #89C9EC;
  --color-base-200: #71bee7;
  --color-base-300: #58b1e2;
  --color-base-content: #0e2a3a;
  --color-primary: #CF2D2D;
  --color-primary-content: #ffffff;
  --color-secondary: #b32626;
  --color-secondary-content: #ffffff;
  --color-accent: #e14d4d;
  --color-accent-content: #2b0707;
  --color-neutral: #1c3040;
  --color-neutral-content: #eaf6fd;
  --color-info: #1c3040;
  --color-info-content: #f4faff;
  --color-success: #2e7d32;
  --color-success-content: #f3fff3;
  --color-warning: #e0a800;
  --color-warning-content: #2e2200;
  --color-error: #b71c1c;
  --color-error-content: #fff5f5;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
